.aside{
    background-color: var(--semi-dark-blue);
    width: 80px;
    height: 80vh;
    margin: auto 30px;
    display: flex;
    flex-direction: column;
    gap: 100px;
    position: fixed;
    top: 15%;
}

.svg{
    width: 40px;
    height: 30px;
    margin: 20px;
}

.iconsContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
}