@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');

*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
}

:root{
    --white: hsl(0,0%,100%);
    --red: hsl(0, 97%, 63%);
    --dark-blue: hsl(223, 30%, 9%);
    --semi-dark-blue:  hsl(223, 36%, 14%);
    --greyish-blue: hsl(223, 23%, 46%);
    --grey: hsl(225, 3%, 77%);
    --grey-placeholder: hsl(223, 3%, 54%);

    --heading-lg: 2rem;
    --heading-md: 1.5rem;
    --heading-sm: 1.125rem;
    --body-md: 0.9375rem;
    --body-sm: 0.8125rem;
}


html, body {
    height: 100%;
}

body {
    line-height: 1.5;
    font-family: 'Outfit', sans-serif;
    background-color: var(--dark-blue);
    color: var(--white);
    -webkit-font-smoothing: antialiased;
}

img, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

.main{
    display: flex;
    align-items: center;
}
  
  
